.centered {
  max-width: 360px;
  margin: 20px auto;
  padding: 20px;
  background-color: #dedede;
  border-radius: 20px;
  text-align: center;
}

.centered.male {
  background-color: skyblue;
}

.centered.female {
  background-color: pink;
}